@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron" style="background-color: lightskyblue">
       
        <h1>Clinica Viale</h1>

        <p class="lead">Año a año junto a nuestros pacientes</p>

    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Reservar turnos online </h2>
        <p>
            En nuestra pagina podra consultar horarios, los turnos
        </p>
        <p><a class="btn btn-primary" href= "https://localhost:44335/Clinica/Altaturno">Aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Acceso a los turnos</h2>
        <p>
            Podes visualizar nuestro listado con los turnos en el momento 
        </p>
        <p><a class="btn bg-primary" href="https://localhost:44335/Clinica/Listado">Aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Acceso a reportes</h2>
        <p>
            Podes acceder a la cantidad de turnos por prestaciones o el monto total de pacientes entre 18 a 22 años
        </p>
        <p><a class="btn btn-primary" href="https://localhost:44335/Clinica/Reporte">Aqui &raquo;</a></p>
    </div>
</div>